.step-indicator .step-indicator__background {
  position: relative;
  border-radius: 50%;
  border: 1px solid hsl(var(--white));
  width: 2rem;
  height: 2rem;
}

.step-indicator .step-indicator__number {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: hsl(var(--white));
  font-weight: bold;
}

.step-indicator--active .step-indicator__background {
  background: hsl(var(--light-blue));
}

.step-indicator--active .step-indicator__number {
  color: hsl(var(--marine-blue));
}
